{% extends 'base.html' %}

{% block title %}
Student List
{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between mb-3">

        
        <h2>{{ title }}</h2>

        <p>Total Students : {{ total_students }}</p>

        

    </div>
    <form method="GET" class="mb-3">

        <div class="row">

        <div class="col-md-8">

            <input
                type="text"
                name="search"
                class="form-control"
                placeholder="Search by Name or Course"
                value="{{ search_query }}"> <!--Isse search box me search text bana rahega.-->

        </div>

        <div class="col-md-4">

            <button
                type="submit"
                class="btn btn-primary">

                Search

            </button>

            <a
                href="{% url 'student_list' %}"
                class="btn btn-secondary">

                Reset

            </a>

        </div>

    </div>

    </form>
    <table class="table table-bordered table-striped">

        <thead class="table-dark">

            <tr>
                <th>PHOTO</th>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Course</th>
                <th>Admission Date</th>
                <th>Action</th>

            </tr>

        </thead>

        <tbody>

            {% for student in page_obj %}

            <tr>
                <td>{% if student.photo %}
                 <img src="{{ student.photo.url }}"
                    width="80"
                    height="80"
                    class="rounded">
                    {% else %}
                    No Photo
                    {% endif %}</td>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.course }}</td>
                <td>{{ student.admission_date|date:"d M Y" }}</td>

                <td>

                    <a href="{% url 'update_student' student.id %}"
                       class="btn btn-warning btn-sm">

                        Edit

                    </a>

                    <a href="{% url 'delete_student' student.id %}"
                       class="btn btn-danger btn-sm">

                        Delete

                    </a>

                </td>

            </tr>

            {% empty %}

            <tr>

                <td colspan="7" class="text-center">

                    No students found.

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

    <!-- Pagination -->

    <nav>

        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}

            <li class="page-item">

                <a class="page-link"
                   href="?page={{ page_obj.previous_page_number }}&search={{ search_query }}">

                    Previous

                </a>

            </li>

            {% endif %}

            {% for page in page_obj.paginator.page_range %}

            <li class="page-item {% if page == page_obj.number %}active{% endif %}">

                <a class="page-link"
                   href="?page={{ page }}&search={{ search_query }}">

                    {{ page }}

                </a>

            </li>

            {% endfor %}

            {% if page_obj.has_next %}

            <li class="page-item">

                <a class="page-link"
                   href="?page={{ page_obj.next_page_number }}&search={{ search_query }}">

                    Next

                </a>

            </li>

            {% endif %}

        </ul>

    </nav>

</div>

{% endblock %}